<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dominik Heeb</title>
    @Styles.Render("~/Content/pluginCSS")
    @Styles.Render("~/Content/paperTemplate")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    Dominik <span class="actualPageColor">Heeb</span>
                </a>
                <!--<a href="#/" class="navbar-brand">Dheeb.ch</a>-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="homeSite"><a href="#/">Home</a></li>
                    <li class="devSite"><a href="#/dev">Entwicklung</a></li>
                    <li class="photoSite"><a href="#/pht">Fotografie</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content actualPageColorBorder">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dominik Heeb</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
